<ion-view view-title="Bestellen">
  <ion-content class="padding">

    <div class="list card">
      <div class="item item-divider">Beleg</div>
      <div class="item item-body">

        <ion-list>
          <button  ng-repeat="item in items" ng-click="setSpread(item.name)" class="button button-full button-spreads">

            <div class="row">
            <div style="col-75" >
              <h3>{{item.name}}</h3>
              <p>{{item.description}}</p>
            </div>
            <div  class="col"
              <span ng-show="isSpread(item.name)">
                <span  class="ion-checkmark-round"></span>
              </span>
             </div>
          </button>
        </ion-list>
      </div>
    </div>


    <a  ng-click="complete()" class="button button-full button-positive">
      Afronden
    </a>


  </ion-content>

</ion-view>
