<ion-view view-title="Bestellen">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Vers belegde broodjes</div>
      <div class="item item-body">
        <div>
          <h2>Kies uw broodje</h2>
          <ul class="list">

            <label class="item item-radio">
               <input type="radio" name="group">
               <div class="item-content">
                 <span style="float : left"> Ciabatta of bol</span><span style="float : right"> &euro; 4.25</span>
               </div>
               <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio">
               <input type="radio" name="group">
               <div class="item-content">
                 <span style="float : left">Baquette</span><span style="float : right">  &euro; 4.50</span>
               </div>
               <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio">
               <input type="radio" name="group">
               <div class="item-content">
                 <span style="float : left">Speltbol</span><span style="float : right">&euro; 4.75</span>
               </div>
               <i class="radio-icon ion-checkmark"></i>
            </label>


        </div>
      </div>
    </div>



  <button ng-click="goSpreads()" class="button button-full button-positive">Kies je beleg</button>



  </ion-content>
</ion-view>
