<ion-view view-title="Bestellen">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Beleg</div>
      <div class="item item-body">
        <div>
          <ul class="list">

            <label class="item item-radio">
               <input type="radio" name="group">
               <div class="item-content">
                 <b>Ciabatta of bol</b></br>
                 Omafd
               </div>
               <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio">
               <input type="radio" name="group">
               <div class="item-content">
                 <b>Ciabatta of bol</b></br>
                 Omafd
               </div>
               <i class="radio-icon ion-checkmark"></i>
            </label>


          </ul>


        </div>
      </div>
    </div>


    <button class="button button-full button-positive">
      Kies je beleg
    </button>


  </ion-content>
</ion-view>
