<ion-view view-title="Bestellen">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Vers belegde broodjes</div>
      <div class="item item-body">
        <div>
          <h2>Kies uw broodje</h2>
           <button ng-click="setSandwich('ciabatta-wit')" class="button button-full button-positive">Ciabatta (wit)</button>
           <button ng-click="setSandwich('ciabatta-bruin')" class="button button-full button-positive">Ciabatta (bruin)</button>
           <button ng-click="setSandwich('baquette-wit')" class="button button-full button-positive">Baquette (wit)</button>
           <button ng-click="setSandwich('baquette-bruin')" class="button button-full button-positive">Baquette (bruin)</button>
           <button ng-click="setSandwich('speltbol')" class="button button-full button-positive">Speltbol</button>
        </div>
      </div>
    </div>







  </ion-content>
</ion-view>
