<ion-view view-title="Afronden">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-divider">
         Bestelling
      </div>

      <p>Je hebt het volgende besteld : {{getSandwich()}} + {{getSpread()}} (&euro; {{getPrice()}})</p>
    </div>


    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Gebruiker" ng-model="name">

      </label>
      <label class="item item-input">
        <input type="text" placeholder="Email"  ng-model="email">
      </label>
    </div>

    <button  ng-click="send(name, email)" class="button button-full button-positive">
      Versturen
    </button>

  </ion-content>
</ion-view>
