/* Empty. Add your own CSS if you like */

.button-spreads {
  text-align: left;
  background-color: white;
  line-height: 1.1;
  padding : 5px !important;

  border-top : 0;
}

p {
  margin : 15px;
}

.button-spreads h3 {
   margin-bottom: 0 !important;
   margin-top: 0 !important
}

.button-spreads p {
   margin-top: 3px !important
}

.check {
  float : left;
}


.bar-stable {
  background-color : green !important;

}

.title {
  color : white !important;
}

.item-divider, .back-button {
  background-color : green !important;
  color : white !important;
}

.button-positive {
  background-color: darkred !important;
  border : 0
}
